@import "tailwindcss";
@plugin './hero.ts';
@source "../node_modules/@heroui/theme/dist/";

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-display: swap;
}

@font-face {
  font-family: 'Luckiest Guy';
  src: url('/fonts/LuckiestGuy-Regular.ttf') format('truetype');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pretendard: 'Pretendard', sans-serif;
  --font-luckiest-guy: 'Luckiest Guy', cursive;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  font-family: var(--font-pretendard) !important;
}

.font-luckiest {
  font-family: var(--font-luckiest-guy) !important;
}

html {
  overflow-y: scroll;
  /* 스크롤바 공간 항상 예약 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* globals.css 또는 tailwind.css에 추가 */
.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* column gap */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem; /* column gap */
  background-clip: padding-box;
}

/* 카드 사이 margin */
.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}